body {
  background: url(msa.png) repeat;
  color: #333;
  font-family: monospace;
  line-height: 2rem;
}

h1 {
  font-family: cursive, monospace;
  font-size: 2.5rem;
}

#content {
  background: rgba(255, 255, 255, .95);
  margin: auto;
  max-width: 800px;
  padding: 2%;
  text-align: left;
}

img {
  height: 200px;
  margin: auto;
}

div {
  margin: auto;
}
